[submodule "vendor/moonpool"]
	path = vendor/moonpool
	url = https://github.com/c-cube/moonpool
[submodule "vendor/tiny_httpd"]
	path = vendor/tiny_httpd
	url = https://github.com/c-cube/tiny_httpd.git
